body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(../img/background.jpg);
  background-size: cover;
  font-family: 'Ubuntu';
}

element {
  --nav-height: 50px;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(../font/Ubuntu-Regular.ttf);
}

nav#nav_main{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main{
  height: calc(100% - 50px);
  width: 100%;
  padding-bottom: 15px;
  box-sizing: border-box;
}


/*-----------------------------------------------------------
                      Shortcut
-------------------------------------------------------------*/

section#shortcuts{
  float: left;
  width: calc(100% - 420px);
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  position: relative;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  z-index: 1;
}

#shortcuts::before{
  background-image: url(../img/background.jpg);
  background-size: cover;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  filter: blur(25px) brightness(50%);
  transform: scale(120%);
  z-index: -2;
}

#shortcut_container{
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}

.shortcut{
  width: 275px;
  height: 325px;
  background-color: #242629;
  border-radius: 12px;
  margin: 10px;
}

.shortcut_img{
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shortcut_gradient{
  position: relative;
  top: -125px;
  background-image: linear-gradient(rgba(0,0,0,0), #242629);
  height: 125px;
  width: 100%;
}

.shortcut_letter{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: relative;
  background-color: rgb(200,200,200);
  top: -200px;
  left: 20px;
  border-radius: 3px;
  font-size: 1.8em;
  color: rgb(75,75,75);
}

.shortcut_name{
  padding: 4px 10px 4px 10px;
  border-radius: 5px 50px 50px 50px;
  background-color: rgba(150,150,150, 0.1);
  color: rgb(150,150,150);
  white-space: nowrap;
  position: absolute;
  top: -155px;
  left: 20px;
}

.shortcut_content{
  position: relative;
  display: inline-block;
}

.shortcut_text{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  width: 255px;
  left: 10px;
  top: -120px;
  overflow: hidden;
  color: rgb(120,120,120);
}

/*-----------------------------------------------------------
                      Widgets
-------------------------------------------------------------*/

nav#nav_widget{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_widget_button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 30px;
  transition: 0.1s all ease-out;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  margin: 0 5px 0 5px;
  box-shadow: 0 0 5px rgba(50,50,50,0.5);
}

.nav_widget_button:hover{
  transition: 0.1s all ease-out;
  border-radius: 20px;
}

.nav_widget_img{
  max-width: 30px;
  max-height: 30px;
}

section#widgets{
  width: 400px;
  height: 100%;
  float: right;
  padding-right: 15px;
  box-sizing: border-box;
}

article.widget{
  height: calc(100% - 70px);
  overflow: hidden;
}

.widget_title{
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: calc(100% - 40px);
  border-radius: 10px;
  background-color: #2F3136;
  padding: 10px 20px 10px 20px;
}


.widget_container{
  overflow: auto;
  height: 100%;
}

.title_text{
  font-size: 1.2em;
  color: white;
}

.title_logo{
  margin-left: 10px;
}

/*-----------------------------------------------------------
                     RSS Widget
-------------------------------------------------------------*/

.rss_title{
  max-width: 70%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgb(200,200,200);
  padding: 5px 15px 5px 15px;
  border-radius: 50px;
  background-color: #2F3136;
  border: 1px solid rgb(150,150,150);
}

.rss_theme_container{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 2px;
  padding: 3px;
  margin: 5px 0 5px 0;
}

/*-----------------------------------------------------------
                     Action buttons (edit, remove)
-------------------------------------------------------------*/

.action_container{
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #242629;

  transition: 0.5s all ease-out;
  overflow: hidden;
}

.action_container:hover{
  transition: 0.1s all ease-out;
  box-shadow: 0 0 10px rgb(50,50,50);
  background-color: rgb(200,200,200);
  width: 85px;
}

.action_container:hover .action_logo{
  transform: rotate(0deg);
  background-image: url(../img/arrow_black.png);
}

.action{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
  display: inline-block;
  margin: 2px;
  width: 21px;
  height: 21px;
}

.action:hover{
  left: 185px;
}

.action_shortcut{
  border-radius: 50px 20px 50px 50px;
  top: -320px;
  left: 245px;
}

.action_shortcut:hover{
  left: 185px;
}

.action_rss{
  border-radius: 50px;
  right: 20px;
}

.action_pos{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 20px;
}

.edit{
  background-image: url(../img/edit.png);
  cursor: pointer;
}

.edit:hover{
  background-color: rgb(180,180,180);
}

.delete{
  transform: rotate(45deg);
  background-image: url(../img/croix_black.png);
    cursor: pointer;
}

.delete:hover{
  background-color: rgb(180,180,180);
}

.action_logo{
  background-image: url(../img/arrow.png);
  transform: rotate(180deg);
}


/*-----------------------------------------------------------
                      Slide_container
-------------------------------------------------------------*/

.slide_container{
  white-space: nowrap;
  position: relative;
  height: 75%;
  cursor: pointer;
}

/*-----------------------------------------------------------
                      Slide_button
-------------------------------------------------------------*/


.slide_right_button{
  transform:translate(100%, 0%);
  border-radius: 100px 0 0 100px;
  right: 45px;
}


.slide_left_button{
  transform:translate(-100%, 0%);
  border-radius: 0 100px 100px 0;
  left: 45px;
}

.slide_button{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  background-color: #2F3136;
  height: 100%;
  transition: 0.5s all ease-out;
  cursor: pointer;
}

.slide_left_button:hover{
  transform:translate(0%, 0%);
  left: 0;
}

.slide_left_button:hover .slide_left_logo{
  transform: rotate(90deg);
  transition: 0.5s all ease-out;
}

.slide_right_button:hover{
  transform:translate(0%, 0%);
  right: 0;
}

.slide_right_button:hover .slide_right_logo{
  transform: rotate(-90deg);
  transition: 0.5s all ease-out;
}

/*-----------------------------------------------------------
                      Slide_text
-------------------------------------------------------------*/

.slide_right_text{
  margin-right: 10px;
}

.slide_left_text{
  margin-left: 10px;
}

.slide_text{
  color: white;
  font-size: 18px;
}

/*-----------------------------------------------------------
                      Slide_logo
-------------------------------------------------------------*/

.slide_logo{
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px 0 10px;
  transition: 0.5s all ease-out;
}

.slide_settings_logo{
  background-image: url(../img/gear.png);
}

.slide_cross_logo{
  transform: rotate(-45deg);
  background-image: url(../img/croix.png);
}

.slide_plus_logo{
  background-image: url(../img/croix.png);
}

/*-----------------------------------------------------------
                      POPUP
-------------------------------------------------------------*/

#blur{
  display: none;
  position: absolute;
  background: radial-gradient(circle, rgba(63,94,251,0) 19%, rgba(0,0,0,0.75) 100%);
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#popup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 501;
}
.popup_container{
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  width: 400px;
  background-color: #242629;
  z-index: 999;
  border-radius: 12px;
  box-shadow: 0 0 50px rgba(0,0,0,0.7);
  overflow: hidden;
}

.popup_nav{
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(150,150,150,0.1);
  color: white;
  font-size: 1.2em;
}

.popup_form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.popup_form > *{
  margin-bottom: 20px;
}

input:last-child{
  padding: 10px 30px 10px 30px;
  margin-bottom: 0;
}

input[type='text'], input[type='button'].submit{
  width: 200px;
  padding: 10px 30px 10px 30px;
}


input[type="number"]{
  padding: 10px;
  width: 40px;
}

label{
  color: rgb(50,50,50);
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  border-left: 2px solid gray;
  border-bottom: 3px solid gray;
  background-color: white;
}

.input_with_label{
  display: flex;
  align-items: center;
  justify-content: center;
}


input{
  font-family: 'Ubuntu';
  font-size: 1em;
  border-top: none;
  border-right: none;
  border-left: 2px solid gray;
  border-bottom: 3px solid gray;
  border-radius: 5px;
}

input[type='button']{
  cursor: pointer;
  position: relative;
  color: gray;
}

input[type='button']:active{
  top: 1px;
}

input[type='button']#keymap{
  border-radius: 100px;
  padding: 10px;
  background-color: white;
}

/*-----------------------------------------------------------
                      ERROR
-------------------------------------------------------------*/

#error_container{
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: -1000px;
  max-width: 350px;
  min-width: 150px;
  background-color: #bf5454;
  border-radius: 12px;
  border-bottom: 5px solid #a04545;
  border-left: 4px solid #a04545;
}

#error_title{
  display: flex;
  align-items: center;
  font-size: 1.8em;
  justify-content: center;
  height: 50px;
  width: 80%;
  margin-top: 10px;
  background-color: #994141;
  border-radius: 12px;
  border-bottom: 5px solid #7c2a2a;
  border-left: 4px solid #7c2a2a;
}

#error_content{
  padding: 20px;
}
